*{
  font-family: sans-serif;
}

.wrapper{
  padding: 12px;
}

.btn{
  border: none;
  &-back{
    max-width: 340px;
  }
  &-form{
    background-color: #7d4cdb66;
    padding: 12px;
    border-radius: 4px;
    transition: .4s;
    &:hover{
      background-color: darken($color: #7d4cdb66, $amount: 30);
    }
    &:active{
      transform: scale(80%);
    }
  }
  &-card{
    margin-top: 10px;
    padding: 10px 0;
    border-radius: 4px;
    max-width: 250px;
    background-color: rgba(56, 24, 118, 0.4);
    transition: .4s;
    &:hover{
      background-color: darken($color: rgba(56, 24, 118, 0.4), $amount: 15);
      color: #fff;
    }
  }
  &-cart{
    width: 200px;
    padding: 10px;
    border-radius: 14px;
    color: #fff;
    background-color: #7D4CDB;
    transition: .4s;
    &_trash{
      background-color: transparent;
    }
    &_counter{
      background-color: #7D4CDB;
      color: #fff;
      width: 50px;
      &:hover{
        background-color: darken($color: #7D4CDB, $amount: 20);
      }
    }
    &:hover{
      background-color: darken($color: #7D4CDB, $amount: 20);
    }
  }
  &:hover{
    cursor: pointer;
  }
}

.card{
  &-img{
    position: relative;
    padding-bottom: 200px;
    margin: 12px;
    background-color: #bebebe;
    border-radius: $border-radius;
    img{
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: $border-radius;
      }
      @media screen and(max-width: 768px){
          padding-bottom: 400px;
      }
  }
  &-content{
      padding: $padding-content;
  }
}